.box{
    font-family: sans-serif;
    padding: 20px;
    background-color:
    #1e306e;
    align-items: center;
    min-width: 800px;
    margin-bottom: 5px;
    

}
.concat{
    border: solid 1px;
    border-color: red;
    padding-left: 500px;
    background-color:beige;
}
.camp{display: flex;}

h2{color: white;
text-align: center;}